@import "../../styles/responsive.scss";
.listExpense {
    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        justify-content: space-between;

        h1 {
            @include md {
                font-size: 18px;
            }
        }

        .addIcon {
            background-color: orange;
            border-radius: 10px;
            margin-right: 10px;
        }
    }

    button {
        padding: 5px;
        cursor: pointer;
    }
}
