@import "../../styles/responsive.scss";
.listExpense {
    .tableContainer {
        width: 100%;

        @include xl {
            width: 85%;
        }

        @include md {
            width: 80%;
        }

        @include sm {
            width: 75%;
        }

        .info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            h1 {
                @include md {
                    font-size: 18px;
                }
            }

            .icon {
                @include sm {
                    display: none;
                }
            }
        }

        button {
            padding: 5px;
            cursor: pointer;
        }
    }
}
