@import "../../styles/responsive.scss";
.listExpense {
    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        h1 {
            @include md {
                font-size: 18px;
            }
        }
    }

    button {
        padding: 5px;
        cursor: pointer;
    }
}
