@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.documentation {
    display: flex;
    flex-direction: column;

    .headerForm {
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 70px;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
        margin-bottom: 20px;

        .searchForm {
            display: flex;
            justify-content: end;
            gap: 10px;
            align-items: center;

            @include sm {
                width: 150px;
            }
        }
    }

    .containerDocs {
        border-radius: 10px;
        border: 2px solid $soft-bg;
        min-height: 70vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .gridDocs {
            padding: 20px;
            display: grid;
            grid-auto-flow: dense;
            gap: 20px;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: minmax(100, auto);

            @include xl {
                grid-template-columns: repeat(3, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(2, 1fr);
            }

            @include md {
                grid-template-columns: repeat(1, 1fr);
            }

            @include sm {
                grid-auto-rows: minmax(120px, auto);
                grid-template-columns: repeat(1, 1fr);
            }

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-direction: column;
                cursor: pointer;
                &:hover {
                    background-color: $soft-bg;
                    border-radius: 10px;
                }

                .itemDoc {
                    display: flex;
                    align-items: center;
                    width: auto;
                }
            }
        }

        .addButton {
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 20px;
        }
    }
}
