.chartBox {
    display: flex;
    height: 100%;

    .boxInfo {
        flex: 3;
        display: flex;
    }

    .chartInfo {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chart {
            width: 100%;
            height: 100%;
            background-color: white;
        }

        .texts {
            display: flex;
            flex-direction: column;
            text-align: right;

            .percentuage {
                font-weight: bold;
                font-style: 20px;
            }

            .duration {
                font-size: 14px;
            }
        }
    }
}
