@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.menu {
    .closeButton {
        display: none;
    }

    &:hover {
        .closeButton {
            display: flex;
            float: right;
            clear: both;

            align-items: center;
            cursor: pointer;
            z-index: 1;

            @include lg {
                display: none;
            }
        }
    }

    .item {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .title {
            font-size: 12px;
            font-weight: 200;
            color: $soft-color;
            text-transform: uppercase;

            @include lg {
                display: none;
            }
        }

        .listItem {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;

            &:hover {
                background-color: $soft-bg;
                width: max-content;
            }

            .listItemTitle {
                @include lg {
                    display: none;
                }
            }
        }
    }
}
