@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.authorization {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;

    /*@include lg {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
        grid-auto-rows: minmax(120px, auto);
        grid-template-columns: repeat(1, 1fr);
    }*/

    .users {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
        grid-column: span 1;
        min-height: 80vh;
    }

    .auth {
        padding: 20px;
        grid-column: span 3;

        border: 2px solid $soft-bg;
        border-radius: 10px;
    }
}
