@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.filterHeader {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid $soft-bg;
    margin-bottom: 20px;
}

.gridFixedExpense {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;

    @include xl {
        grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
        grid-auto-rows: minmax(120px, auto);
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
    }

    .tabellaSpese {
        grid-column: span 3;
        grid-row: span 3;
    }
    .suddivisioneSpese {
        grid-column: span 1;
        grid-row: span 3;
    }

    .analisiAnnua {
        grid-column: span 4;
        grid-row: span 2;

        @include md {
            display: none;
        }
    }
}
