@import "./variable.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  min-height: 100vh;
}

.container {
  display: flex;

  @include xxl {
  }

  @include xl {
  }

  @include lg {
  }

  @include md {
  }

  @include sm {
  }
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg {
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
