@import "./variable.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  min-height: 100vh;
}

.containerApp {
  display: flex;
  min-height: 75vh;
  overflow: hidden;
}

.menuContainer {
  width: max-content;

  border-right: 2px solid $soft-bg;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
