@import "../../../../styles/responsive.scss";

.filterForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-betweens;

    .filterFormElement {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: end;

        .selectLayer {
            min-width: 200px;
            width: auto;

            @include sm {
                min-width: 50px;
            }
        }

        .inputLayer {
            min-width: 90px;

            @include sm {
                min-width: auto;
            }
        }
    }

    .title {
        @include md {
            display: none;
        }
    }
}
