@import "../../../../styles/responsive.scss";
.form {
    .inputLayer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .iconInput {
            @include sm {
                display: none;
            }
        }

        input {
            width: 80%;
        }

        select {
            width: 80%;
        }
    }
}
