@import "../../styles/responsive.scss";

.topBox {
    h1 {
        margin-bottom: 20px;

        @include xxl {
            font-style: 24px;
        }
    }

    .list {
        .listItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            .category {
                display: flex;
                gap: 20px;

                .categoryTexts {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .name {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
