@import "../../styles/responsive.scss";
@import "../../styles/variable.scss";
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 100%;
            width: 30%;

            @include xl {
                width: 150px;
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            @include sm {
                display: none;
            }
            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid greenyellow;
            }
        }

        .logout {
            cursor: pointer;
            align-items: center;

            &:hover {
                background-color: $soft-bg;
                border-radius: 10px;
            }
        }
    }
}
