.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    span {
        &:first-child {
            font-size: 16;
            font-weight: bold;
        }

        &:last-child {
            font-size: 14px;
        }
    }
}
