.changePassword {
    height: 90%;

    .formCambioPassword {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .inputLayer {
            span {
                cursor: pointer;
            }
        }
    }
}
