.changePassword {
    height: 90%;

    .formCambioPassword {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .input {
            display: flex;
        }
    }
}
