@import "../../styles/responsive.scss";
.dataTable {
    width: 100%;

    @include xxl {
        width: 80%;
    }

    .dataGrid {
        background: white;

        .action {
            display: flex;
            justify-content: center;
            gap: 10px;

            .edit {
                cursor: pointer;
            }

            .delete {
                cursor: pointer;
            }
        }
    }

    .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
    }
}
